#current-temp
	font-size: 2.5em
	#fahr
		font-size: 1em
	
#weather-icon
	transform: scale(5)
	position: absolute
	left: 30%
	top: 40%

#summary-cntr
	position: relative
	margin-top: 10%
	section
		width: 100%
		#msg
			width: 50%
			margin: auto
		#summary-text
			text-align: center
			width: 50%
			span
				margin: 5px
			#current-temp
				span
					margin: 0
		
.wi
	color: blue